<div style="background-image: url('../Imagenes/image4.png'); padding: 20px;">
    @{
        /**/

        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron text-center">
        <div>
            <img src="~/Imagenes/welcomeHCA.jpeg" alt="Welcome HCA" />
        </div>
        <p class="" style="color:white; font-size:30px; margin-top:30px;"><strong>Todos los derechos reservados HCA © 2021</strong></p>
    </div>

</div>




